.header {
  font-size: 1.5rem;
  padding: 80px 80px 0 120px;
  text-align: start;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px 0 80px;
}

.cart-items {
  width: 75%;
  padding: 0 0 0 40px;
}

.order-summary {
  width: 381px;
  height: 454px;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #eaeaea;
  background-color: #f0f0f0;
  margin-top: 20px;
}

.order-summary h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: start;
}

.summary-details {
  height: 100%;
}

.summary-details p {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.summary-details sup {
  font-weight: lighter;
  margin-left: 10px;
}

.summary-details .small-font {
  font-size: 12px;
}

.summary-details-underline {
  border-top: 1px solid;
  opacity: 50%;
}

.summary-details span {
  font-weight: bold;
}

.pay-btn {
  width: 100%;
  padding: 10px 0;
  background-color: black;
  height: 45px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}
