* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #aaa;
  font-size: 16px;
  background-color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-container {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  text-align: start;
  font-size: 24px;
}

.login-container form {
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.login-container label {
  display: block;
  text-align: start;
  margin-bottom: 8px;
}

.login-container button {
  width: 100%;
  height: 46px;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: filter 0.3s ease;
}

.login-container button:hover {
  filter: brightness(85%);
}

.products-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 120px;
}

.products-header-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

.products-header-quantity {
  font-size: 16px;
  margin-top: 48px;
  text-align: end;
  opacity: 50%;
}

.logo {
  height: 40px;
}

.logo-image {
  margin-left: 40px;
}

.add-to-cart-button {
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 40px;
  border: none;
}

.cart-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  padding-right: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-info {
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.cart-item-title {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-weight {
  font-size: 14px;
  margin-top: 4px;
}

.quantity-controls-cart {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.quantity-button {
  position: relative;
  border: 1px solid #ddd;
  background: none;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
}

.quantity-button svg {
  width: 16px;
  height: 16px;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: flex-start;
}

.quantity-controls-cart {
  display: flex;
  align-items: center;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 30%;
  width: fit-content;
}

.quantity-button-cart {
  border: none;
  background: none;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
}

quantity-button-cart svg {
  width: 16px;
  height: 16px;
}

.remove-button-cart {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.cart-item-prices {
  text-align: right;
}

.cart-item-current-price {
  font-size: 24px;
}

.cart-item-current-price sup {
  font-size: 18px;
}

.cart-item-old-price {
  color: #C94D00;
  text-decoration: line-through;
  text-align: start;
  font-size: 16px;
  margin-top: 8px;
}

cart-item-old-price sup {
  text-decoration: none;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    margin-right: 0;
    align-items: flex-start;
  }

  .item-details {
    padding-left: 0;
  }

  .item-price {
    text-align: left;
    width: 100%;
  }

  .quantity-controls {
    justify-content: flex-start;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 120px 0 110px;
  gap: 10px;
}

.product-card {
  flex: 0 0 calc(25% - 10px);
  overflow: hidden;
  display: flex;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.product-card:hover .controls-container {
  opacity: 1;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #f0f0f0;
}

.controls-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.quantity-controls {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
}

.quantity-btn {
  border: none;
  min-width: 40px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
}

.cart-icon {
  margin-left: 10px;
  background-color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  margin: 10px 0 5px;
  text-align: start;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  text-align: start;
  font-size: 24px;
}

.product-price sup {
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .product-card {
    flex: 0 0 calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 0 0 calc(100% - 10px);
  }
}
